body {
	font: 30px Helvetica, sans-serif;
	text-transform: uppercase;
	background: black;
}

p, a {
	margin: 1em 0;
	color: white;
}

.centrao {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 90vh;
}